{% extends "layout.html.twig" %}

{% block content %}
    <div class="status-badge"
         data-template="{{ app.request.basepath }}/templates/average.html"
         data-json="{{ app.request.basepath }}/api/average/{{ project }}_{{ subproject }}">
    </div>

    <div class="row">
        <div class="col-md-12 content-graph"
             data-template="{{ app.request.basepath }}/templates/badge.html"
             data-json="{{ app.request.basepath }}/api/content/{{ project }}_{{ subproject }}">
        </div>
    </div>

    <div class="status-sound"
         data-json="{{ app.request.basepath }}/api/status"
         data-template="{{ app.request.basepath }}/templates/sound.html">
    </div>
{% endblock %}
