{% extends "layout.html.twig" %}

{% block content %}
    <div class="row project status-badge"
         data-group="true"
         data-template="{{ app.request.basepath }}/api/templates/average"
         data-json="{{ app.request.basepath }}/api/average/{{ project }}_{{ subproject }}">
    </div>

    <div class="row ping-charts"
         data-json="{{ app.request.basepath }}/api/content/{{ project }}_{{ subproject }}">
        <div class="col-md-12 chart success"
              data-type="spline"
              data-label="s"
              data-decimal="2">
        </div>
        <!-- <div class="col-md-12 chart failed"
              data-type="column"
              data-label=""
              data-decimal="0">
        </div>
         <div class="col-md-12 log"></div> -->
    </div>

    <div class="status-sound"
         data-json="{{ app.request.basepath }}/api/status"
         data-template="{{ app.request.basepath }}/api/templates/sound">
    </div>
{% endblock %}
