{% extends "layout.html.twig" %}

{% block content %}
    <div class="row project status-badge"
         data-group="true"
         data-template="{{ app.request.basepath }}/api/templates/average"
         data-json="{{ app.request.basepath }}/api/average/{{ project }}_{{ subproject }}">
    </div>

    <div class="row content-chart"
         data-json="{{ app.request.basepath }}/api/content/{{ project }}_{{ subproject }}">
    </div>

    <div class="status-sound"
         data-json="{{ app.request.basepath }}/api/status"
         data-template="{{ app.request.basepath }}/api/templates/sound">
    </div>
{% endblock %}
